canvas {
    width: 600px;
    height: 600px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .DailyText:focus{
    outline:0;
  }

  input:focus::placeholder {
    color: transparent;
  }
  input::placeholder{
      color:black;
  }